.some-text {
    font-family: "Pacifico", cursive, sans-serif;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
text-shadow: 0cqb;}

.some-text{background: rgb(248, 84, 248);}