div{
    color: green;
}

.block{
    color: red;
}

#id-block{
    color: rgb(145, 1, 167);
}

[data-example] {
    color: brown;
}

[data-example="value2"] {
    color: rgb(0, 255, 229);
}

.block3, .block4, .block5{
    color: yellow;
}
div.blue-block{
    color: blue;
}

div .orange{
    color: orange;
}

.parent> .child{
    color: aqua;
}